.todoList {
    width: 55%;
    display: flex;
    margin: 7rem auto;
    border-radius: 10px;
    padding: 17px 11px;
    box-shadow: 1px 5px 20px #222121;
}

h1 {
    font-weight: 500;
}

.list {
    width: 55%;
    padding: 8px;
    margin-right: 10px;
}

.searchBar {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.myList h1 {
    margin: 7px 0;
}

.searchBar input[type="text"] {
    width: 80%;
}

input[type="text"],
input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #b1b1b1;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 700;
    background-color: #35353599;
    color: white;
}

.searchBar input[type="button"] {
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    width: 20%;
    padding: 10px 0;
}

.myList {
    padding: 10px;
}

.myList ul {
    list-style-type: none;
    margin-top: 0;
    padding: 2px;
}

.myList ul li {
    display: flex;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
    justify-content: baseline;
    animation: fadeIn 700ms forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeAway {
    animation: fadeIn 500ms forwards;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.stat {
    filter: grayscale(1);
    width: 30px;
    transition: all 220ms ease;
    margin-right: 15px;
}

.myList ul li:hover {
    background-color: #3c3c3c3c;
}

.myList ul li:hover .stat {
    filter: grayscale(0);
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formGroup label {
    margin-bottom: 10px;
}

.formGroup input[type="submit"] {
    align-self: flex-end;
    color: white;
    padding: 12px 0;
    font-size: 16px;
    width: 25%;
    border-radius: 9px;
    border: none;
    background-color: #0865b6;
}

.listForm {
    width: 40%;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
}

.notFound img {
    text-align: center;
    width: 150px;
}

.config {
    margin-left: auto;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: opacity 200ms linear;
}

.config p {
    font-size: 15px;
    margin-right: 10px;
}

.config span {
    font-size: 20px;
}

.config img {
    width: 30px;
}

.myList ul li:hover .config {
    opacity: 1;
}

.selectType {
    padding: 0 20px;
    display: flex;
}

.selectType h3 {
    font-weight: 500;
    cursor: pointer;
}

.selectType h3:not(:last-child) {
    margin-right: 30px;
}

.selected {
    color: #ffa924;
    font-weight: 600;
    transition: all 150ms linear;
}
